<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="VIT Wale, VITwale, VITwale Community, VIT Bhopal, VIT">
    <meta name="author" content="VITIANS">
    <meta name="description" content="VITWale is an unofficial community for VIT students. Explore study materials, club info, and events on VITwale website.">
    <meta property="og:title" content="VITwale">
    <meta property="og:description" content="VITWale is an unofficial community for VIT students. Explore study materials, club info, and events on VITwale website.">
    
    <!-- Favicon -->
    <link rel="icon" href="/static/assets/images/onrent1logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/onrent1logo.png">
    
    <!-- Page Title -->
    <title>VIT Management Website</title>
    
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/assets.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/typography.css')}}">
    <link rel="stylesheet" type="text css" href="{{url_for('static', filename='assets/css/shortcodes/shortcodes.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/style.css')}}">
    <link class="skin" rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/color/color-1.css')}}">
</head>
<body id="bg" onload="notification()">
    <div class="alert alert-warning alert-dismissible fade show" style="font-family: Rubik;" role="alert" id="noti">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Your content goes here -->
    
    <!-- JavaScript Imports -->
    <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/bootstrap/js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/bootstrap-select/bootstrap-select.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/magnific-popup/magnific-popup.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/counter/waypoints-min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/counter/counterup.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/imagesloaded/imagesloaded.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/masonry/masonry.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/masonry/filter.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/owl-carousel/owl.carousel.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/functions.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/contact.js')}}"></script>
    <script src="{{url_for('static', filename='assets/vendors/switcher/switcher.js')}}"></script>
</body>
</html>
